{% extends 'index.html' %}
{% load static %}

{% block breadcrum_name %}
  <a href="{% url 'index' %}">Add Employees</a>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h5>Add Employee</h5>
    </div>

    <div class="card-body">
      <form id="employeeForm">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" name="name" class="form-control" placeholder="Enter name" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" name="email" class="form-control" placeholder="Enter email" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Enter password" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Mobile No</label>
              <input type="tel" name="mobile_no" class="form-control" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea class="form-control" id="address" rows="3" name="address"></textarea>
            </div>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Edit Employee Modal -->
  <div class="modal fade" id="editEmployeeModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="editEmployeeForm">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">Edit Employee</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <input type="hidden" name="id" id="edit_id" />

            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" id="edit_name" class="form-control" />
            </div>

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" id="edit_email" class="form-control" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    {% comment %}filter Div{% endcomment %}
    <div class="mb-3 col-6">
      <label class="form-label">Filter By Name</label>
      <input type="text" id="name_filter" class="form-control" />
    </div>
  </div>

  <table id="usersTable" class="display">
    <thead>
      <tr>
        <th style="display:none">ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Mobile No</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script>
    $('#employeeForm').on('submit', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: "{% url 'save_employee' %}",
        data: {
          name: $('input[name="name"]').val(),
          email: $('input[name="email"]').val(),
          password: $('input[name="password"]').val(),
          mobile_no: $('input[name="mobile_no"]').val(),
          address: $('#address').val(),
    
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (response) {
          Swal.fire({
            title: 'Success!',
            text: response.message,
            icon: 'success',
            confirmButtonText: 'OK'
          })
    
          $('#employeeForm')[0].reset()
        },
        error: function (xhr) {
          let errMsg = 'Something went wrong!'
          if (xhr.responseJSON && xhr.responseJSON.message) {
            errMsg = xhr.responseJSON.message
          }
          Swal.fire({
            title: 'Error!',
            text: errMsg,
            icon: 'error',
            confirmButtonText: 'OK'
          })
        }
      })
    })
    
    $(document).ready(function () {
      $('#usersTable').DataTable({
        ajax: {
          url: "{% url 'get_users' %}",
          data: function (d) {
            d.name = $('#name_filter').val() // send filter value
          }
        },
        order: [[0, 'desc']],
        columns: [
          { data: 'id', visible: false },
          { data: 'name' },
          { data: 'email' },
          { data: 'create_at' },
          { data: 'mobile_no' },
          {
            data: 'id',
            orderable: false,
            searchable: false,
            render: function (id, type, row) {
              return '<button class="btn btn-sm btn-warning editBtn" data-id="' + id + '">Edit</button>' + ' <button class="btn btn-sm btn-danger deleteBtn" data-id="' + id + '">Delete</button>'
            }
          }
        ]
      })
    
      $('#name_filter').on('keyup change', function () {
        $('#usersTable').DataTable().ajax.reload()
      })
    
      $(document).on('click', '.editBtn', function () {
        let id = $(this).data('id')
        $.ajax({
          url: '/employee/get/' + id + '/',
          type: 'GET',
          success: function (response) {
            $('#edit_id').val(response.id)
            $('#edit_name').val(response.name)
            $('#edit_email').val(response.email)
    
            $('#editEmployeeModal').modal('show')
          }
        })
      })
    
      $('#editEmployeeForm').on('submit', function (e) {
        e.preventDefault()
    
        $.ajax({
          type: 'POST',
          url: "{% url 'update_employee' %}",
          data: {
            id: $('#edit_id').val(),
            name: $('#edit_name').val(),
            email: $('#edit_email').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
          },
          success: function () {
            $('#editEmployeeModal').modal('hide')
            $('#usersTable').DataTable().ajax.reload()
    
            Swal.fire('Updated!', 'Employee updated successfully', 'success')
          },
          error: function (xhr) {
            $('#editEmployeeModal').modal('hide')
            let errMsg = 'An error occurred. Please try again.'
    
            if (xhr.responseJSON && xhr.responseJSON.message) {
              errMsg = xhr.responseJSON.message
            }
    
            Swal.fire('Error', errMsg, 'error')
          }
        })
      })
    
      $(document).on('click', '.deleteBtn', function () {
        let id = $(this).data('id')
        $.ajax({
          url: '/employee/delete/' + id + '/',
          type: 'DELETE',
          headers: {
            'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
          },
          success: function (response) {
            $('#usersTable').DataTable().ajax.reload()
            Swal.fire('Deleted', 'Employee Deleted successfully', 'success')
          },
          error: function (xhr) {
            Swal.fire('Error', 'Delete failed: ' + xhr.responseJSON?.message || 'Unknown error', 'error')
          }
        })
      })
    })
  </script>
{% endblock %}
