{% extends 'index.html' %}
{% load static %}

{% block breadcrum_name %}
  <a href="{% url 'index' %}">Add User</a>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h5>Add User</h5>
    </div>

    <div class="card-body">
      <form id="addUserForm">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input type="text" name="first_name" class="form-control" placeholder="Enter name" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">User Name</label>
              <input type="text" name="username" class="form-control" placeholder="Enter user name" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" name="email" class="form-control" placeholder="Enter email" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Enter password" />
            </div>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    $('#addUserForm').on('submit', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: "{% url 'saveUsers' %}",
        data: {
          first_name: $('input[name="first_name"]').val(),
          email: $('input[name="email"]').val(),
          password: $('input[name="password"]').val(),
          username: $('input[name="username"]').val(),
    
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (response) {
          Swal.fire({
            title: 'Success!',
            text: response.message,
            icon: 'success',
            confirmButtonText: 'OK'
          })

          $('#addUserForm')[0].reset()
        },
        error: function (xhr) {
          let errMsg = 'Something went wrong!'
          if (xhr.responseJSON && xhr.responseJSON.message) {
            errMsg = xhr.responseJSON.message
          }
          Swal.fire({
            title: 'Error!',
            text: errMsg,
            icon: 'error',
            confirmButtonText: 'OK'
          })
        }
      })
    })
  </script>
{% endblock %}
